<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
	<style>
		body {
			background-color: #333;  /*fallback color if image is not found */
			background-image: url({{ url_for("static", filename="background.jpg") }});
			background-size: cover;
			background-position: center;
		}
		.navbar {
			background-color: #333;
		}
		.container {
			background-color: #999;
			padding: 20px;
		}
	</style>
</head>
<body>
    <!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg rounded bg-transparent" style="background-color: #333">
		<div class="container bg-dark rounded">
			<a class="navbar-brand" href="{{ url_for('index') }}"><img src="#" alt="Logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					{% if login.is_valid %}
					<li class="nav-item active rounded">
						<a class="nav-link text-primary text-info" href="{{ url_for('index', login=login) }}">Assistant</a>
					</li>
					{% endif %}
					{% if login.is_valid and login.is_admin %}
					<li class="nav-item dropdown text-secondary">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						   data-bs-toggle="dropdown" aria-expanded="false">
							Administration
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{{ url_for('users') }}">Users</a></li>
							<li><a class="dropdown-item" href="{{ url_for('new_user') }}">New user</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
				{% if login.is_valid %}
					<a class="btn btn-outline-danger my-2 my-sm-0" href="{{ url_for('logout') }}">Logout {{login.user}}</a>
				{% endif %}
				{% if not login.is_valid %}
					<a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="{{ url_for('login') }}">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>



	<div class="container mt-3 rounded bg-transparent">
		<div class="row justify-content-center rounded">
			<div class="col-md-8">
				{% for message in get_flashed_messages(message) %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
			{% block body %}

			{% endblock %}

			</div>
		</div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>